<app-banner title="Users Table"></app-banner>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Owner</th>
      <th scope="col">foundation</th>
      <th scope="col">players Info</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersTab">
      <th scope="row">{{ user._id }}</th>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <div *ngFor="let player of user.playerId" class="mb-2">
          name: {{ player.name }} Position: {{ player.position }} Number:
          {{ player.number }}
        </div>
      </td>
      <td>
        <button class="btn btn-warning mr-2" (click)="goToInfo(user._id)">
          Info
        </button>

      </td>
    </tr>
  </tbody>
</table>
