<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">score One</th>
      <th scope="col">score two</th>
      <th scope="col">team One</th>
      <th scope="col">team two</th>
      <th scope="col">Results</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matchesTab">
      <th scope="row">{{ match._id }}</th>
      <td>{{ match.scoreOne }}</td>
      <td>{{ match.scoreTwo }}</td>
      <td [ngStyle]="{ color: scoreColor(match.scoreOne, match.scoreTwo) }">
        {{ match.teamOne }}
      </td>
      <td [ngStyle]="{ color: scoreColor(match.scoreTwo, match.scoreOne) }">
        {{ match.teamTwo }}
      </td>
      <td>{{message(match)}}</td>
      <td>
        <button class="btn btn-info mr-2m " (click)="goToInfo(match._id)">
          Info
        </button>
        <button class="btn btn-warning mr-2" (click)="goToEdit(match._id)">
          Edit
        </button>
        <button class="btn btn-danger mr-2" (click)="deleteMatch(match._id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
