<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">score One</th>
      <th scope="col">score two</th>
      <th scope="col">team One</th>
      <th scope="col">team two</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matchesTab">
      <th scope="row">{{ match.id }}</th>
      <td>{{ match.teamOne }}</td>
      <td>{{ match.teamtwo }}</td>
      <td>{{ match.scoreOne }}</td>
      <td>{{ match.scoreTwo }}</td>
      <button class="btn btn-info mr-2" (click)="goToInfo(match.id)">info</button>
      <button class="btn btn-warning mr-2" (click)="goToEdit(match.id)">Edit</button>
      <button class="btn btn-danger mr-2"  (click)=" deleteMatch(match.id)">Delete</button>
    </tr>

  </tbody>
</table>