<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Owner</th>
      <th scope="col">foundation</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teamsTab">
      <th scope="row">{{ team.id }}</th>
      <td>{{ team.name }}</td>
      <td>{{ team.owner }}</td>
      <td>{{ team.foundation }}</td>
      <td>
        <button class="btn btn-warning mr-2" (click)="goToEdit(team.id)">
          Edit
        </button>
        <button class="btn btn-danger mr-2" (click)="deletePlayer(team.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
