<app-banner title="Sign Up"></app-banner>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <!--First Name-->
          <div class="form-group">
            <input
              type="text"
              formControlName="firstName"
              name="firstName"
              class="form-control"
              placeholder="first Name"
            />
            <div
              *ngIf="
                signupForm.controls['firstName'].invalid &&
                (signupForm.controls['firstName'].touched ||
                  signupForm.controls['firstName'].dirty)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['firstName'].errors?.['required']"
                >first Name is required</small
              >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['firstName'].errors?.['minlength']"
              >
                first name must be at lesat 3 characters</small
              >
            </div>
          </div>
          <!--Last Name-->
          <div class="form-group">
            <input
              type="text"
              formControlName="lastName"
              name="lastName"
              class="form-control"
              placeholder="last Name"
            />
            <div
              *ngIf="
                signupForm.controls['lastName'].invalid &&
                (signupForm.controls['lastName'].touched ||
                  signupForm.controls['lastName'].dirty)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['lastName'].errors?.['required']"
                >Last Name is required</small
              >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['lastName'].errors?.['minlength']"
                >Last Name must be at lesat 4 characters</small
              >
            </div>
          </div>
          <!--Email-->
          <div class="form-group">
            <input
              type="text"
              formControlName="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
            <div
              *ngIf="
                signupForm.controls['email'].invalid &&
                (signupForm.controls['email'].touched ||
                  signupForm.controls['email'].dirty)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['email'].errors?.['required']"
                >Email is required</small
              >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['email'].errors?.['email']"
                >email is invalid</small
              >
            </div>
            <span class="text-danger">{{errorMsg}}</span>
          </div>
          <!--Password-->
          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              name="password"
              class="form-control"
              placeholder="Password"
            />
            <div
              *ngIf="
                signupForm.controls['password'].invalid &&
                (signupForm.controls['password'].touched ||
                  signupForm.controls['password'].dirty)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['password'].errors?.['required']"
              >
                password is required</small
              >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['password'].errors?.['minlength']"
                >password must be at lesat 4 characters</small
              >
            </div>
          </div>
          <!--confirPassword-->
          <div class="form-group">
            <input
              type="password"
              formControlName="confirmPassword"
              name="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
            />
            <div
              *ngIf="
                signupForm.controls['confirmPassword'].touched ||
                signupForm.controls['confirmPassword'].dirty
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['confirmPassword'].errors?.['required']"
              >
                Confirm Password is required
              </small>
            </div>
            <small
              class="text-danger"
              *ngIf="signupForm.hasError('passwordMismatch')"
            >
              Passwords do not match
            </small>
          </div>

          <!--Phone-->
          <div class="form-group">
            <input
              type="tel"
              formControlName="phone"
              name="phone"
              class="form-control"
              placeholder="Tel"
            />
            <div
              *ngIf="
                signupForm.controls['phone'].invalid &&
                (signupForm.controls['phone'].touched ||
                  signupForm.controls['phone'].dirty)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['phone'].errors?.['required']"
                >Phone is required</small
              >
              <small
                class="text-danger"
                *ngIf="signupForm.controls['phone'].errors?.['pattern']"
                >phone must be 8 numbers</small
              >
            </div>
          </div>

          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="sign Up"
              [disabled]="signupForm.invalid"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4 ml-auto">
        <ul class="list-unstyled">
          <li class="mb-2">
            <strong class="text-white d-block">Address</strong>
            273 South Riverview Rd. <br />
            New York, NY 10011
          </li>
          <li class="mb-2">
            <strong class="text-white d-block">Email</strong>
            <a href="#">info&#64;unslate.co</a>
          </li>
          <li class="mb-2">
            <strong class="text-white d-block"> Phone </strong>
            <a href="#">+12 345 6789 012</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
